


    <mat-card class="example-card">
              <h1>Login</h1>


       <form #formLogin="ngForm"   class="example-form" (ngSubmit)="onLogin()">

          <mat-form-field class="example-full-width">
               <input matInput  type="email" placeholder="Su email" name="email"  [(ngModel)]="user.email" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
               <input matInput  type="password" placeholder="Su password" name="password"  [(ngModel)]="user.password" required>
          </mat-form-field>

          <button type="submit" mat-raised-button
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over"  >
            ENVIAR
          </button>
       </form>

    </mat-card>



