<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="zoytu.com" content="">
   <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,700&family=Open+Sans:wght@300;400&family=Sail&display=swap" rel="stylesheet">


  </head>
  <body>
      <h1 class="logo">
        <span class="z">z</span>
        <span class="o">0</span>
        <span class="y">y</span>
        <span class="tu">t</span>
        <span class="tu">u</span>
        <span class="c">,</span>
        <span class="sl">S</span>
        <span class="sl">.</span>
        <span class="sl">L</span>
     </h1>
      <router-outlet></router-outlet>
      <router-outlet name= "sidebar" ></router-outlet>



</body>
</html>
